.pageWrapper {
    width: 100%;
}

.listWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.transparentScrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.transparentScrollbar::-webkit-scrollbar {
    width: 2px;
    height: 8px;
}

.transparentScrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.transparentScrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.transparentScrollbar::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
}