.homeViewWrapper {
  width: calc(100% - 24px);
  margin: auto;
  margin-top: 116px;
  display: flex;
  align-items: start;
}

.listColumn {
  width: 40%;
}

.resultColumn {
  width: 60%;
  height: 100%;
  flex: 1;
}

@media (min-width: 1200px) {
  .homeViewWrapper {
    width: 80%;
  }
}

@media (max-width: 960px) {
  .listColumn,
  .resultColumn {
    width: 50%;
  }
}

@media (max-width: 805px) {
  .listColumn {
    width: 100%;
  }
  .resultColumn {
    display: none;
  }
}
